.ir-arriba{
    display:none;
    background-repeat:no-repeat;
    font-size:20px;
    color:rgb(27, 78, 145);
    cursor:pointer;
    position:fixed;
    bottom:10px;
    right:10px;
    z-index:2;
}
.no-style {
    list-style-type: none;
} 
.large-text {
    font-size:25px;
}
.black-border {
    text-shadow: 2px 1px black;
    color:white;
}
#ir_arriba {
    color:#d2de38;
}
@media (max-width:991px) {
    #bombillos {
        display:none;
    }
}
#bombillos {
    position:fixed;
    top:0px;
    right:10px;
    z-index:11;
    height:80px;
    width:auto;
}
#mainNav {
    background-color:rgb(27, 78, 145) !important; /*Color de la barra de navegación mainNav*/
    z-index:10;
  }
  #logo_header {
      width:400px;
      height:auto; 
  }
  p {
      font-size:25px;
  }
@media (max-width:350px) {
    #img_vision_metrum {
        width:200px !important;
        height:auto;
    }
}
  #img_vision_metrum {
      width:250px;
      height:auto;
  }

  .bg-blue{
    background-color: rgb(27, 78, 145)
  }
  .bg-green {
      background-color: #d2de38;
  }

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*FOOTER*/
#logo_decimo_arte {
    height:auto;
    width:90px;
    
}
@media (max-width:768px) {
    .text-small-footer {
        font-size:6px !important;
    }
    .footer-info {
        line-height: 50% !important;
    }
    .copyright {
        font-size:11px !important;
    }
}
.text-small-footer {
    font-size:13px;
}
/*HOME*/
.seccion-white{
    background-color:rgb(27, 78, 145,1);
    border-radius:15px;
    padding-top:10px;
}

#smaller-ssi-img {
    width:auto;
    height:100px;
    margin:auto;
}
#centered-button {
    margin:auto;
}
.card-other{
    height:270px;
    padding-bottom:-20px;
    
}
@media (max-width:560px) {
    #logo_header {
        width:300px;
        height:auto;
    }
    .colored-banners {
        width:300px !important;
        height:auto;
    }
    .banner-text {
        font-size:15px !important;
    }
    .card-other{
        height:220px;
        padding-bottom:-20px;
        width:310px !important;
        
    }
    .card-body-up {
        height:160px;
        position:absolute;
        
    }
    .card-body-down {
        position:absolute;
        padding-top:5px;
        margin-bottom:30px!important;
        height:40px !important;
        width:100%;
    
        
    }
    .card-img-top{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height:50% !important;
        width:auto;
       
    }
    #pulsar_img {
        height:auto;
        width:300px;
    }
}
.card-img-top{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height:95%;
    width:auto;
}
.card-body-up {
    height:200px;
    position:relative;
}
.card-body-down {
    position:absolute;
    padding-top:5px;
    bottom:0;
    height:50px;
    width:100%;
}

/*Sobre nosotros*/
.mini-top-margin{ 
    margin-top:50px;
}
#mision_img {
    height:auto;
    width:290px;  
    margin-top:-15px;  
}
.no-space {
    line-height: 130%;
}
.colored-banners {
    width: 400px;
    height:auto;
}
.text-on-banner{
    position: absolute;
    top: 55%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-weight:bold;
   
}
.banner-text {
    font-size:20px; 
}
@media (max-width:991px) {
    .margin-top-mini {
        margin-top:40px;
    }
}

/*Identificadores de imágenes*/
.bigger-li {
    font-size:20px;
}

#ssi_logo {
    height:130px;
    width:auto;
}
#img_pulsar {
    width: 600px;
    height:auto;
}
#solar_img {
    width:200px;
    height:auto;
}

@media (max-width: 768px) {
    #img_pulsar {
        width:260px;
        height:auto;
    }
}
.clients_img {
    width:200px;
    height:auto;
}
#waleker_portafolio{
    height:200px;
    width:auto;
}

@media (max-width:768px) {
    .diminish {
        height:200px !important;
        width:auto;
    }
}
.diminish {
    height:250px;
    width:auto;
}

@media (max-width:768px) {
    .success_img {
        width:200px !important;
        height:auto;
        margin-top:50px;
    }
}
.success_img {
    width:350px;
    height:auto;
    margin-top:50px;
}

.colombia_img {
    height:350px;
    width:auto;
}




/** Página de servicios*/
.seccion1{
    background-color:rgb(27, 78, 145,1);
    border-radius:15px;
    padding-top:10px;
    width:100%;
    padding-bottom:25px;
}


#esfera_metrum {
    width:300px;
    height:auto;
}
#personaje_servicios {
    left:20px;
    top:10px;
    position:relative;
    
}

.small-gray-banner {
    background-color: rgb(95, 96, 99);
    border-radius:30px;
    padding-left:70px;
    padding-right:30px;
    padding-bottom:-10px;
    z-index:3;
    position:relative;
    margin-left:-30px;
    width:auto;
    height:70px;
}
@media(max-width:1199px) and (min-width:992px) {
    #esfera_metrum {
        width:300px;
        height:auto;
        z-index:2;
        margin-left:-30px;
    }
}
@media(max-width:991px) and (min-width:768px) {
    #esfera_metrum {
        width:200px;
        height:auto;
        z-index:2;
        margin-left:-20px;
    }
    
    #personaje_servicios{
        height:200px;
        width:auto;
        z-index:5;
        margin-top:20px;
        left:20px;
        top:10px;
        position:relative;
    }
    .small-gray-banner {
        background-color: rgb(95, 96, 99);
        border-radius:30px;
        padding-left:70px;
        padding-right:25px;
        padding-bottom:-10px;
        z-index:3;
        position:relative;
        margin-left:-40px;
        width:auto;
        height:40px;
    }
    .drag-to-left {
        margin-left:-70px !important;
        position: relative;
    }
    .small-gray-banner p {
        font-size: 15px !important;
    }
    #carousel1{
        margin-top:0px !important;
    }
    .carousel-control-prev-icon, .carousel-control-next-icon {
        margin-top:-30px;
    }
    p.text-small {
        font-size:14px !important; 
    }
    
}
@media (max-width:576px) {
    .gray-banners {
        margin-top:10px !important;
        margin-left:20px !important;
         
    }
    #esfera_metrum{
        width:190px;
        height:auto;
        z-index:2;
        position:relative;
        top:20px;
        left:0;
        margin-left:-70px;
    }
    #personaje_servicios{
        display:none;
    }
    .drag-to-left {
        margin-left:-37px !important;
        position: relative;
    }
    .small-gray-banner{
        background-color: rgb(95, 96, 99);
        border-radius:30px;
        padding-left:35px;
        padding-right:20px;
        padding-bottom:23px !important;
        z-index:3;
        position:relative;
        margin-left:0px;
        width:auto;     
        height:48px;
        
    }
    .small-gray-banner > p {
        font-size: 0.9em !important;
    }
    .no-margin-top {
        margin-top:-25px !important;
        position:relative;
    }
    .top-buffer { 
        margin-top:7px !important; 
    }
    p.text-small {
        font-size:14px !important; 
    }
    .seccion1 {
        padding-bottom:20px !important;
    }
    #personaje_servicios_movil {
        display:inline-block !important;
        z-index: 2;
        height:200px;
        width:auto;
        margin-top:-90px;
    }
   
}
@media (max-width:767px) and (min-width:577px) {
    #esfera_metrum{
        width:200px;
        height:auto;
        z-index:2;
    }
    #personaje_servicios{
        height:220px;
        width:auto;
        z-index:5;
        margin-top:20px;
    }
    .drag-to-left {
        margin-left:0px !important;
        position: relative;
    }
    .small-gray-banner{
        background-color: rgb(95, 96, 99);
        border-radius:30px;
        padding-left:35px;
        padding-right:10px;
        padding-bottom:23px !important;
        z-index:3;
        position:relative;
        margin-left:40px;
        width:auto;     
        height:38px;
    }
    #carousel_container {
        margin-left:43px;   
    }
    
    .small-gray-banner > p {
        font-size: 0.8em !important;
    }
    .no-margin-top {
        margin-top:-25px !important;
        position:relative;
    }
    .top-buffer { 
        margin-top:17px !important; 
    }
    p.text-small {
        font-size:14px !important; 
    }
    
   
}
#personaje_servicios_movil{
    display:none;
}
.gray-banners {
    margin-top:-10px;
}
.small-gray-banner:hover{
    cursor:pointer;
}
.small-gray-banner p {
    font-size: 1.3em;
}

.top-buffer { 
    margin-top:15px; 
}

.no-margin-top {
    margin-top:-27px;
    position:relative;
}

.drag-to-left {
    margin-left:-100px;
    
}

/*Carousel*/
#carousel1{
    margin-top:80px;
    height:200px;
}
p.text-small{
    font-size:20px;
}
h3.text-small {
    font-size:25px;
}
.arrows {
    margin-top:20px;
    position:relative;
}

/*Ruta*/
@media(min-width:992px) {
    .circle-number {
        font-size:80px;
        flex: 0 0 120px;
    }
}
.timeline {
    z-index:2;
}

.timeline-image {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:1;
}

/*Lista en cajas*/
.squared-box {
    border-radius:4%;
    text-align: center;
    margin-top:7px;
    height:110px;
    width:110px;
}
.squared-second-box {
    border-radius:4%;
    text-align: center;
    margin-top:18px;
    height:110px;
    width:110px;
    
}
.in-square-text {
    line-height: 110px;
    font-size:70px;
}
.in-list-item {
    margin-top:10px;
}

/* Servicios: Construcción de competencias */

.container_img{
    position: relative;
    display: inline-block;
    text-align: center;

}
 
.text-on-img{
    position: absolute;
    top: 53%;
    left: 61%;
    transform: translate(-50%, -50%);
    font-weight:bold;
   
}

.text-on-right {
    line-height: 100%;
    font-size:20px;
    margin-left:10px;
}

/*Fábrica de soluciones*/

.post-square {
    box-shadow: 3px 3px 3px 3px #999;
    -webkit-box-shadow: 3px 3px 3px 3px #999;
    -moz-box-shadow: 3px 3px 3px 3px #999;
    border-radius: 10px 10px 40px 40px;
    margin-top:20px;    
}
.post-square-title {
    border-radius:10px 10px 0px 0px;
    height:40px;
    text-align:center;

}
.post-square-title h5 {
    line-height: 40px;
}
.post-square-content {
    padding-top:5px;
    padding-bottom:10px;
    text-align: center;
    margin-top:5px;
    padding-left:10px;
    padding-right:10px; 
}
.post-square-content p {
    line-height:110%;
    font-size:130%;
}
.middle-person {
    margin-left:12px;
    margin-top:20px;
}
#personaje2_servicios{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.green-white-circle{
    border-radius:100%;
    width:200px;
    height:200px;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 15px solid #d2de38;
    text-align:center;  
    padding-top: 50px;
}

.green-white-circle p{
    line-height: 100%;
    margin:auto;
    font-size:23px;
}



  