#mainNav {
    background-color:rgb(27, 78, 145) !important; /*Color de la barra de navegación mainNav*/
  }
  #logo_header {
      width:400px;
      height:auto;
    
  }
  p {
      font-size:25px;
  }

  #img_vision_metrum {
      width:400px;
      height:auto;
  }

  .bg-blue{
    background-color: rgb(27, 78, 145)
  }
  .bg-green {
      background-color: #d2de38;
  }

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*HOME*/
.seccion-white{
    background-color:rgb(27, 78, 145,1);
    border-radius:15px;
    padding-top:10px;
}

#smaller-ssi-img {
    width:auto;
    height:100px;
    margin:auto;
}
#centered-button {
    margin:auto;
}
.card{
    height:250px;
    padding-bottom:-20px;
    
}
.card-img-top{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height:95%;
    width:auto;
}
.card-body-up {
    height:200px;
    position:relative;
}
.card-body-down {
    position:absolute;
    padding-top:5px;
    bottom:0;
    height:50px;
    width:100%;
}

/*Sobre nosotros*/
.mini-top-margin{ 
    margin-top:50px;
}
#mision_img {
    height:auto;
    width:250px;  
    margin-top:-15px;  
}
.no-space {
    line-height: 130%;
}
.colored-banners {
    width: 400px;
    height:auto;
}
.text-on-banner{
    position: absolute;
    top: 55%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-weight:bold;
   
}
.banner-text {
    font-size:20px; 
}
@media (max-width:991px) {
    .margin-top-mini {
        margin-top:40px;
    }
}

/*Identificadores de imágenes*/

#img_pulsar {
    width: 600px;
    height:auto;
}
#solar_img {
    width:200px;
    height:auto;
}

@media (max-width: 768px) {
    #img_pulsar {
        width:260px;
        height:auto;
    }
}

#waleker1 {
    height:250px;
    width:auto;
}

.success_img {
    width:350px;
    height:auto;
    margin-top:50px;
}

.colombia_img {
    height:350px;
    width:auto;
}




/** Página de servicios*/
.seccion1{
    background-color:rgb(27, 78, 145,1);
    border-radius:15px;
    padding-top:10px;
}


#esfera_metrum {
    width:300px;
    height:auto;
}
#personaje_servicios {
    left:20px;
    top:10px;
    position:relative;
    
}


.small-gray-banner {
    background-color: rgb(95, 96, 99);
    border-radius:30px;
    padding-left:70px;
    padding-right:30px;
    padding-bottom:-10px;
    z-index:3;
    position:relative;
    margin-left:-40px;
    width:auto;
    height:70px;
}
@media(max-width:1199px) and (min-width:992px) {
    #esfera_metrum {
        width:300px;
        height:auto;
        z-index:2;
        margin-left:-30px;
    }
}
@media(max-width:991px) and (min-width:768px) {
    #esfera_metrum {
        width:200px;
        height:auto;
        z-index:2;
        margin-left:-20px;
    }
    
    #personaje_servicios{
        height:200px;
        width:auto;
        z-index:5;
        margin-top:20px;
        left:20px;
        top:10px;
        position:relative;
    }
    .small-gray-banner {
        background-color: rgb(95, 96, 99);
        border-radius:30px;
        padding-left:70px;
        padding-right:30px;
        padding-bottom:-10px;
        z-index:3;
        position:relative;
        margin-left:-40px;
        width:auto;
        height:40px;
    }
    .drag-to-left {
        margin-left:-70px !important;
        position: relative;
    }
    .small-gray-banner p {
        font-size: 15px !important;
    }
    #carousel1{
        margin-top:0px !important;
    }
    .carousel-control-prev-icon, .carousel-control-next-icon {
        margin-top:-30px;
    }
    p.text-small {
        font-size:14px !important; 
    }
    
}
@media (max-width:767px) {
    #esfera_metrum{
        width:200px;
        height:auto;
        z-index:2;
    }
    #personaje_servicios{
        height:220px;
        width:auto;
        z-index:5;
        margin-top:20px;
    }
    .drag-to-left {
        margin-left:0px !important;
        position: relative;
    }
    .small-gray-banner{
        background-color: rgb(95, 96, 99);
        border-radius:30px;
        padding-left:35px;
        padding-right:10px;
        padding-bottom:23px !important;
        z-index:3;
        position:relative;
        margin-left:40px;
        width:auto;     
        height:38px;
    }
    #carousel_container {
        margin-left:43px;   
    }
    
    .small-gray-banner > p {
        font-size: 0.8em !important;
    }
    .no-margin-top {
        margin-top:-25px !important;
        position:relative;
    }
    .top-buffer { 
        margin-top:17px !important; 
    }
    p.text-small {
        font-size:14px !important; 
    }
    
}
.small-gray-banner:hover{
    cursor:pointer;
}
.small-gray-banner p {
    font-size: 1.3em;
}

.top-buffer { 
    margin-top:15px; 
}

.no-margin-top {
    margin-top:-27px;
    position:relative;
}

.drag-to-left {
    margin-left:-100px;
    
}

/*Carousel*/
#carousel1{
    margin-top:80px;
    height:200px;
}
p.text-small{
    font-size:20px;
}
.arrows {
    margin-top:20px;
    position:relative;
}

/*Ruta*/
@media(min-width:992px) {
    .circle-number {
        font-size:80px;
        flex: 0 0 120px;
    }
}

.timeline-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Lista en cajas*/
.squared-box {
    border-radius:4%;
    text-align: center;
    margin-top:7px;
    height:110px;
    width:110px;
}
.squared-second-box {
    border-radius:4%;
    text-align: center;
    margin-top:18px;
    height:110px;
    width:110px;
    
}
.in-square-text {
    line-height: 110px;
    font-size:70px;
}
.in-list-item {
    margin-top:10px;
}

/* Servicios: Construcción de competencias */

.container_img{
    position: relative;
    display: inline-block;
    text-align: center;

}
 
.text-on-img{
    position: absolute;
    top: 53%;
    left: 61%;
    transform: translate(-50%, -50%);
    font-weight:bold;
   
}

.text-on-right {
    line-height: 100%;
    font-size:20px;
    margin-left:10px;
}

/*Fábrica de soluciones*/

.post-square {
    box-shadow: 3px 3px 3px 3px #999;
    -webkit-box-shadow: 3px 3px 3px 3px #999;
    -moz-box-shadow: 3px 3px 3px 3px #999;
    border-radius: 10px 10px 40px 40px;
    margin-top:20px;    
}
.post-square-title {
    border-radius:10px 10px 0px 0px;
    height:40px;
    text-align:center;

}
.post-square-title h5 {
    line-height: 40px;
}
.post-square-content {
    padding-top:5px;
    padding-bottom:10px;
    text-align: center;
    margin-top:5px; 
}
.post-square-content p {
    line-height:110%;
    font-size:130%;
}
.middle-person {
    margin-left:12px;
    margin-top:20px;
}
#personaje2_servicios{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.green-white-circle{
    border-radius:100%;
    width:200px;
    height:200px;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 15px solid #d2de38;
    text-align:center;  
    padding-top: 50px;
}

.green-white-circle p{
    line-height: 100%;
    margin:auto;
    font-size:23px;
}


  