#mainNav {
    background-color:rgb(27, 78, 145) !important; /*Color de la barra de navegaci칩n mainNav*/
  }
  #logo_header {
      width:400px;
      height:auto;
    
  }
  p {
      font-size:25px;
  }

  #img_vision_metrum {
      width:400px;
      height:auto;
  }

/*Identificadores de im치genes*/

#img_pulsar {
    width: 600px;
    height:auto;
}
#solar_img {
    width:200px;
    height:auto;
}

@media (max-width: 768px) {
    #img_pulsar {
        width:260px;
        height:auto;
    }
}

#waleker1 {
    height:250px;
    width:auto;
}

.success_img {
    width:350px;
    height:auto;
    margin-top:50px;
}

.colombia_img {
    height:350px;
    width:auto;
}




/** P치gina de servicios*/
.seccion1{
    background-color:rgb(27, 78, 145,1);
    border-radius:15px;
    padding-top:10px;
}


#esfera_metrum {
    width:300px;
    height:auto;
}
#personaje_servicios {
    left:20px;
    top:10px;
    position:relative;
}


.small-gray-banner {
    background-color: rgb(95, 96, 99);
    border-radius:30px;
    padding-left:70px;
    padding-right:30px;
    padding-bottom:-10px;
    z-index:3;
    position:relative;
    margin-left:-40px;
    width:auto;
    height:70px;
}

@media (max-width:991px) {
    #esfera_metrum{
        width:100px;
        height:auto;
        z-index:2;
    }
    #personaje_servicios{
        height:120px;
        width:auto;
        z-index:5;
        margin-top:20px;
    }
    .drag-to-left {
        margin-left:-20px !important;
        position: relative;
    }
    .small-gray-banner{
        background-color: rgb(95, 96, 99);
        border-radius:30px;
        padding-left:35px;
        padding-right:10px;
        padding-bottom:23px !important;
        z-index:3;
        position:relative;
        margin-left:-10px;
        width:auto;     
        height:20px;
    }
    .small-gray-banner > p {
        font-size: 0.6em !important;
    }
    .no-margin-top {
        margin-top:-25px !important;
        position:relative;
    }
    .top-buffer { 
        margin-top:7px !important; 
    }
    p.text-small {
        font-size:14px !important; 
    }
    
}
.small-gray-banner:hover{
    cursor:pointer;
}
.small-gray-banner p {
    font-size: 1.3em;
}

.top-buffer { 
    margin-top:15px; 
}

.no-margin-top {
    margin-top:-27px;
    position:relative;
}

.drag-to-left {
    margin-left:-100px;
    
}

/*Carousel*/
#carousel1{
    margin-top:80px;
}
p.text-small{
    font-size:20px;
}
.arrows {
    margin-top:20px;
    position:relative;
}

/*Ruta*/

.mx-auto 
{
    border:1px solid black;
    width:205px;
    height:205px;
    border-radius:10px;
    padding-top:10px;
    display: flex;
    justify-content: center;
    align-items: center
}
.box-text {
    color:white;
    font-size:20px;
    text-align:center;
    vertical-align:middle;
    
}
@media (min-width:991px) {
    .arrow-size {
        font-size:50px;
        margin-top:60px;
    }
}
.arrow-size {
    font-size:50px;
    color:rgb(155, 155, 155);
}
.bg-blue {
    background-color: rgb(27, 78, 145);
}

.bg-green {
    background-color: rgb(148, 218, 56);
}

@media (max-width:991px){
    .fa-arrow-circle-right{
        display:none;
    }
    .fa-arrow-circle-down {
        display:block !important;
    }
}
.fa-arrow-circle-down{
    display:none;
}
/*Lista en cajas*/
.squared-box {
    border-radius:4%;
    text-align: center;
    margin-top:7px;
    height:110px;
    width:110px;
}
.squared-second-box {
    border-radius:4%;
    text-align: center;
    margin-top:18px;
    height:110px;
    width:110px;
    
}
.in-square-text {
    line-height: 110px;
    font-size:70px;
}
.in-list-item {
    margin-top:10px;
}

/* Servicios: Construcci칩n de competencias */

.container_img{
    position: relative;
    display: inline-block;
    text-align: center;

}
 
.text-on-img{
    position: absolute;
    top: 53%;
    left: 61%;
    transform: translate(-50%, -50%);
    font-weight:bold;
   
}

.text-on-right {
    line-height: 100%;
    font-size:20px;
    margin-left:10px;
}