#mainNav {
    background-color:rgb(27, 78, 145) !important; /*Color de la barra de navegación mainNav*/
  }
  #logo_header {
      width:400px;
      height:auto;
    
  }
  p {
      font-size:25px;
  }
  #img_vision_metrum {
      width:400px;
      height:auto;
  }

/*Identificadores de imágenes*/

#img_pulsar {
    width: 600px;
    height:auto;
}

@media (max-width: 768px) {
    #img_pulsar {
        width:260px;
        height:auto;
    }
}

#waleker1 {
    height:250px;
    width:auto;
}